<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kerwin.gallery.repository.WallpaperRepository">

    <!-- 查询壁纸原图表 -->
    <select id="selectWallpaperList" resultType="java.util.Map">
        select * from wallpaper

        <if test="sortString != null and sortString neq ''" >
            ORDER BY #{sortString}
        </if>
        limit #{limit} offset #{offset};
    </select>

    <!-- 统计壁纸原图表 -->
    <select id="countWallpaperList" resultType="java.util.Map">
        select count(*) as number from wallpaper;
    </select>

    <!-- 插入数据，并返回数据库中的ID值   -->
    <insert id="insertWallpaper" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into `wallpaper` (`url`, `width`, `height`, `mdsum`, `filename`,
                           `filename_server`, `relative_filepath_server`, `filepath_server`,
                           `file_type`)
        values (#{map.url}, #{map.width}, #{map.height}, #{map.mdSum}, #{map.filename},
                #{map.filenameServer}, #{map.relativeFilepathServer}, #{map.filepathServer},
                #{map.fileType});
    </insert>

    <!-- 原图下载量加一 -->
    <update id="addWallpaperDownloadCount">
        update `wallpaper` set download_count = download_count +  1 where id=#{wallpaperId, jdbcType=BIGINT}
    </update>
</mapper>